.sidebar-toggle {
  cursor: pointer;
  padding: 0;
  position: relative;
  background: none;
  border: none;
  width: 20px;
  height: 32px;
  margin: 0;
  text-align: inherit;
  flex-shrink: 0;
  display: none;

  @media all and (min-width: 801px) {
    display: block;
  }

  & svg {
    position: absolute;
    width: 18px;
    height: 18px;
    top: calc(50% - 9px);
    fill: none;
    stroke: var(--darkgray);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: opacity 0.2s ease;
  }
}

body[data-slug="impressum"] .sidebar-toggle,
body[data-slug="datenschutz"] .sidebar-toggle {
  display: none !important;
}
